// For Internal page banner section

.internal-banner-bg {
    background: #2B9C9F;
    padding-top: 12px;

    // .devider-image{
    //     background-image: url(../../assets/images/devider.svg);
    //     background-repeat: no-repeat;
    // }
    .content-box {
        padding: 30px 0 20px;

        .main-title {
            color: #fff;
            font-size: 30px;
            text-align: left;
            font-weight: 700;
            padding-left: 12px;
        }

        .brudcrumb-text {
            color: #fff;
            font-weight: 200;
            padding-left: 13px;
            text-align: left;

            span {
                font-weight: 600;
            }
        }


        .Comparison-select-group {
            select.form-select {
                background: #fff;
                padding: 9px 0px 9px 4px;
                appearance: auto;
                width: 100%;
                margin-right: 15px;
                font-size: 16px;
                color: #636363;


            }

            .form-select:focus {
                box-shadow: none;
            }
        }


    }
}

.radio-button {
    background: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    border-radius: 0.375rem;

    .box-radio {
        display: flex;
        align-items: center;

        input {
            width: 20px;
            height: 16px;
            margin-right: 6px;
            accent-color: chocolate;
            cursor: pointer;
        }

        label {
            cursor: pointer
        }
    }
}

.card-box {
    background: #fff;
    border-radius: 40px;
    margin-bottom: 30px;
    padding: 30px;
    text-align: left;

    @media (max-width:1599px) and (min-width: 1400px) {
        padding: 25px;
    }

    @media (max-width:1399px) and (min-width: 1024px) {
        padding: 20px;
    }

    .radio-button {
        background: #FAFAFA;
        width: 100%;

        @media (max-width:1599px) and (min-width: 1400px) {
            font-size: 14px;
        }

        @media (max-width:1399px) and (min-width: 1024px) {
            font-size: 13px;
        }
    }
}

.tab-box {
    margin-left: 30px;
    .tab-button {
        border: 0;
        padding: 10px;
        background: #FAFAFA;
        white-space: nowrap;

        &.active {
            background: #FF9461;
            color: #fff;

            img{
                filter: invert(1);
            }
        }

        &:first-child{
            border-radius: 0.375rem 0 0 0.375rem;
        }
        &:last-child{
            border-radius:0 0.375rem 0.375rem 0;
        }

        img {
            width: 18px;
            margin-right: 5px;
            margin-top: -4px;
        }
    }
}

.download-button {
    border: 0;
    padding: 10px;
    background: #FFF2EC;
    border-radius: 0.375rem;
    margin-left: 15px;
    white-space: nowrap;

    img {
        width: 20px;
        margin-right: 10px;
    }
}


.multi-header-table {
    .ag-header-row.ag-header-row-column, .ag-header-row.ag-header-row-column-group {
        background: #2B9C9F;
        border-color: #2B9C9F;
        color: #fff !important;
        font-size: 13px !important;
        font-weight: 500 !important;
        padding: 0 15px !important;
        height: 45px !important;
        white-space: nowrap;
    }

    .ag-header.ag-pivot-off{
        height: 45px !important;
        min-height: 45px !important;
    }
    .ag-row-animation .ag-row{
        height: 35px !important;
        min-height: 35px !important;
    }

    .ag-header-group-cell-label.ag-sticky-label {
        flex: auto;
        text-align: center;

        .ag-header-group-text {
            width: 100%;
            color: #000;
            font-weight: 600;
            font-size: 14px;
        }
    }

    .ag-header-row.ag-header-row-column {
        .ag-header-cell {
            border-color: #afafaf !important;
            height: 45px !important;

            &::before {
                background-color: transparent;
            }

            .ag-header-cell-resize::after {
                background-color:transparent;
            }
        }
    }

    .ag-header-row.ag-header-row-column-group {
        .ag-header-group-cell {
            border-color: #afafaf !important;

            &::before {
                background-color: #afafaf;
            }

            .ag-header-cell-resize::after {
                background-color: #afafaf;
            }

        }
    }
    .ag-ltr .ag-cell {
        border-right-width: 0px !important;
        height: 30px !important;
        line-height: 2.5;
    }
}