.graph-box {
    margin: 25px 0 10px;

    .graph-card-1 {
        box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.1019607843);
        border-radius: 20px;
        padding: 25px 15px;
        margin-bottom: 0px;
    }
    .graph-card {
        box-shadow: 0px 0px 6px #0000001A;
        border-radius: 20px;
        padding: 25px 20px;
        margin-bottom: 0px;

        .heading-sm {
            font-size: 18px !important;

            @media (max-width: 1399px) and (min-width: 1024px) {
                font-size: 16px !important;
            }
        }

        text.highcharts-title {
            display: none;
        }

        g.highcharts-legend.highcharts-no-tooltip {
            transform: translate(-8px, 10px);
        }

        .chart-button {
            display: flex;
            align-items: center;
            justify-content: end;
            margin-top: 10px;
        }

        button.btn {
            background: #FF9461;
            color: #fff;
            padding: 3px 10px;
            border: 1px solid #FF9461;
            transition: all .3s ease-in-out;
            font-size: 14px;

            &:hover {
                background: #fff;
                color: #FF9461;
            }
        }

    }

    .download-button {
        padding: 10px 0 10px 5px !important;
        width: auto !important;
    }

    .radio-button {
        width: fit-content;
        background: transparent;
        padding-left: 0;

        .box-radio {

            // &:first-child {
            //     input {
            //         accent-color:#FF9461 ;
            //     }
            // }

            &:last-child {
                input {
                    accent-color: #2B9C9F;
                }
            }
        }
    }

    .impact-box-content-education.bg-light-blue {
        background: #E0E1FE !important;
        border-radius: 25px;
        margin-bottom: 20px;
        min-height: 183px;
        padding: 20px 20px;
        position: relative;
        transition: all 0.3s ease-in-out;
    }

    .impact-box-content-education {
        background: #E5F1ED !important;

        &.bg-light-red {
            background: #FFE8E8 !important;

            .highcharts-background {
                fill: #FFE8E8;
            }
        }

        &.bg-light-blue {
            background: #fff !important;

            .highcharts-background {
                fill: #fff;
            }
        }
    }

    .nav-tabs {
        background: #fff;
        display: inline-flex;
        padding: 5px 0px;
        border-radius: 40px;
        border: 0;

        .nav-item {
            margin-left: 5px !important;

            &:first-child {
                margin-left: 0 !important;
            }

            .nav-link {
                color: #fff;
                background-color: #113689;
                border-color: #113689;
                border-radius: 20px;
                box-shadow: 0px 11px 14px rgba(255, 255, 255, 0.12);
                padding: 4px 14px;
                font-size: 14px;


                &.active {
                    background-color: #113689;
                    border-color: #113689;
                    color: #fff;
                }
            }
        }
    }

    h2.heading-sm {
        font-size: 20px !important;

        @media (max-width: 1399px) and (min-width: 1024px) {
            font-size: 15px !important;
        }
    }

    span.subfont {
        font-weight: 400;
        font-size: 18px;
    }

    rect.highcharts-button-box {
        fill: transparent;
    }

    .highcharts-data-table table th {
        background: transparent;
    }

    .select-infra.button-group-filter {
        select.form-select {
            background: #fff;
            padding: 5px 0px 5px 6px;
            cursor: pointer;
            appearance: auto;

        }

        .form-select:focus {
            box-shadow: none;
        }
    }


    .Comparison-box {
        background: #FFFFFF;
        padding: 10px 0 0;
        margin: 5px 0;
        border-radius: 10px;

        .sub-heading {
            font-size: 16px;
            margin-bottom: 0;
            font-weight: 500;

            @media (max-width:1599px) and (min-width: 1400px) {
                font-size: 14px;
            }

            @media (max-width:1399px) and (min-width: 1024px) {
                font-size: 12px;
            }
        }

        .form-select.bg-grey2 {
            padding: 0;
            background: transparent;
            appearance: none;
        }

        .Comparison-select-group {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;

            select.form-select {
                background: #fff;
                padding: 5px 0px 5px 6px;
                appearance: auto;
                width: 19%;
                margin-right: 4px;
                font-size: 14px;

                @media (max-width:1599px) and (min-width: 1400px) {
                    font-size: 12px;
                }

                @media (max-width:1399px) and (min-width: 1024px) {
                    font-size: 10px;
                }

            }

            .form-select:focus {
                box-shadow: none;
            }

            .width-20 {
                width: 19%;
            }
        }

    }

    .radio-btn-filter {
        display: flex;

        div {
            margin-left: 14px;
            font-size: 20px;
            font-weight: 500;
            display: flex;
            align-items: center;
        }

        input {
            margin-right: 6px;
            height: 18px;
            width: 18px;
        }
    }

    @media (max-width: 1699px) and (min-width: 1400px) {
        h2.heading-sm {
            font-size: 18px !important;
        }

        .radio-btn-filter div {
            font-size: 18px !important;
        }
    }

    .Comparison-select-group :where(.css-dev-only-do-not-override-98ntnt).ant-select-outlined:not(.ant-select-customize-input) .ant-select-selector {
        height: 30px;
    }

    .piechart-box {
        height: 350px;

        rect.highcharts-background {height: auto !important;}
    }

    g.highcharts-label.highcharts-data-label text tspan {
        stroke: transparent !important;
    }
}